
.footer{
    background-color: #a82d49;
    height: 150px;
    margin-top: 150px;
}
.footer .icons{
   margin-left: 510px;
   padding-top: 60px;
}
.footer .icons i{
    margin: 0 15px;
    font-size: 25px;
    color: #fff;
}