
.back{
    background-image: url(assets/back7.avif);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.back .back-txt {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: Black;
}
.back .back-txt h1{
    font-size: 70px;
    max-width: 400px;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: #43121d;
}

.about{
    margin-left: 80px;
    margin-top: 150px;
}
.about h2{
    max-width: 450px;
    font-size: 33px;
    color: #43121d;
    margin-bottom: 20px;
}
.about p{
    max-width: 450px;
    font-size: 18px;
    color: gray;
}
.about p span i{
    font-size: 30px;
    font-weight: 900;
    color: #a82d49;
    margin-right: 15px;
    margin-top: 10px;
}
.about .btn1{
    background-color: rgb(168, 45, 73);
    color: #fff;
    padding: 10px 25px;
    border-radius: 1px;
    font-weight: 600;
}
.about .img-grid{
   padding-right: 120px;
   margin-top: -70px;
}

.footer{
    background-color: #a82d49;
    height: 150px;
    margin-top: 150px;
}
.footer .icons{
   margin-left: 510px;
   padding-top: 60px;
   color: #fff;
}
.footer .icons i{
    margin: 0 15px;
    font-size: 25px;
}

