<app-header></app-header>


<div class="back">
  <div class="back-txt">
    <h1>Our Menu</h1>
  </div>
</div>

<div class="container">
  <div class="row section">
    <div class="col-lg-6 content-sec">
      <h2>Our Foods</h2>
      <p>Melt Meals are here for you. Your Melty Pleasure. The Spicy One. Let's Get This Bacon. <br> The Ultimate One.
        Oozing
        with cheese.Hamburger, a sandwich consisting of one or more cooked beef patties, placed inside a sliced bread
        roll or bun roll.</p>

      <div class="list">
        <ul>
          <li>Combos Starting at Rs.75 & Rs.99</li>
          <li>Buy 2 at Rs.55.</li>
          <li>Buy 1 get Veg Whooper Free.</li>
          <li>Family Combo at Rs.199.</li>
        </ul>
      </div>

      <button type="button" routerLink="/menu/food" class="btn btn1 mt-3">View Menu</button>

    </div>
    <div class="col-lg-6 img-sec">
      <img src="assets/burger.jpg" alt="" width="500">
    </div>
  </div>

  <div class="row section2">

    <div class="col-lg-6 img-sec">
      <img src="assets/drinks.jpeg" alt="" width="500" style="margin-left: -20px;">
    </div>


    <div class="col-lg-6 content-sec2">
      <h2>Our Drinks</h2>
      <p>Melt Meals are here for you. Your Melty Pleasure. The Spicy One. Let's Get This Bacon. <br> The Ultimate One.
        Oozing
        with cheese.Hamburger, a sandwich consisting of one or more cooked beef patties, placed inside a sliced bread
        roll or bun roll.</p>

      <div class="list">
        <ul>
          <li>Combos Starting at Rs.75 & Rs.99</li>
          <li>Buy 2 at Rs.55.</li>
          <li>Buy 1 get Veg Whooper Free.</li>
          <li>Family Combo at Rs.199.</li>
        </ul>
      </div>

      <button type="button" routerLink="/menu/drink" class="btn btn1 mt-3">View Menu</button>

    </div>

  </div>
</div>

<app-footer></app-footer>
