.card-add{
    margin-top: 200px;

}

.card-add .card{
 width: 1000px;
 border-radius: 1px;
 margin-top: 200px;
 margin: 20px auto;
 box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.card-add .card-body{
    margin-left: 50px;
    margin-top: 40px;
}