<div class="back">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 row1">
      </div>
      <div class="col-lg-6 row2">
        <form action="/action_page.php">
          <h5>Sign Up</h5>
          <div class="mb-3 mt-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" [(ngModel)]="name" class="form-control" id="name" placeholder="Enter Your Full Name"
              name="name">
          </div>
          <div class="mb-3 mt-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" [(ngModel)]="email" class="form-control" id="email" placeholder="Enter email"
              name="email">
          </div>
          <div class="mb-3">
            <label for="pwd" class="form-label">Password:</label>
            <input type="password" [(ngModel)]="password" class="form-control" id="pwd" placeholder="Enter password"
              name="pswd">
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Contact No :</label>
            <input type="contact" [(ngModel)]="contact" class="form-control" id="phone" placeholder="Enter Contact No."
              name="phone">
          </div>

          <div class="btnfull d-flex">
            <button type="submit" (click)="submitregister();" routerLink="/login"
              [disabled]="email == '' || password == ''" class="btn btn-warning">Register </button>
            <p style="margin-left: 10px; padding-top: 30px;">Already a Member?<a
                style="color: rgb(58, 58, 219); font-weight: 600; padding-left:8px; cursor: pointer;"
                routerLink="/login">Click Login.</a>
            </p>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
